html, body {
  width: 100%;
  height: 100%;
}

html {
  display: table;
  font-family: Lato, "Segoe UI", Avenir, Ubuntu, Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 18pt;
  background-color: #f9f9f9;
  transition: background-color 0.1s ease-in;
}

.yes {
  background-color: #dfd;
}

.no {
  background-color: #fdd;
}

body {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #609;
}

input {
  box-sizing: border-box;
  font: inherit;
  width: 90%;
  max-width: 600px;
  padding: 1em;
}
